boto3==1.24.22
Django==3.2.2
gunicorn==20.0.4
#uvicorn[standard]==0.14.0
celery==5.2.3
django-celery-beat==2.1.0
django-celery-results==2.0.0
django-rest-framework~=0.1.0
redis==4.3.1
psycopg2-binary==2.9.3
django-redis==5.2.0
drf-spectacular==0.23.1
#cx-Oracle
django-request-logging==0.7.5
djangorestframework==3.14.0
requests==2.28.1
faker-food==0.1.0
